body {
    background-color: beige;
}
/*#image {*/
/*    max-width: 100%;*/
/*    display: block;*/
/*    height: auto;*/

/*}*/

#main{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-color: hsla(294, 33%, 59%, 0.86);
    max-width: 800px;
    margin: auto;
}


header {
    display: flex;
    flex-direction: row;
}


#nav-bar {
    flex-direction: row;
    display: flex;
    position: fixed;
    background-color: #48bbcd;
}

img {
    max-height: 100px;
}

ul {
    display: flex;
    align-items: center;
    /* flex-grow: 3; */
    list-style: none;
    flex: 1 100%;
}


h1 {
    font-family: 'Raleway', sans-serif;
}

#product-info {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

/*#img-div {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/

p {
    padding: 10px;
}



footer {
    font-size: 9px;
}

